In [14]:
### 3.1 数据统计分析
'''
描述性统计分析
    数据的中心位置：均值mean，中位数median，众数mode
    均值和中位数用于定量数据，众数用于定性的数据
    均值相对于中位数来说，包含的信息量更大，但容易受异常值影响

'''
import pandas as pd
df = pd.read_excel('sourcedata/i_nuc.xls',
                  sheet_name='Sheet7')
#print(df.数分.describe())
#print(df.describe())
print(df.解几.size)
print(df.解几.max())
print(df.解几.min())
print(df.解几.sum())
print(df.解几.mean())
print(df.解几.var())
print(df.解几.std())

20
83
44
1393
69.65
113.29210526315788
10.643876420889049

62.85

In [27]:
import numpy as np

# numpy np.mean
print(np.mean(df['数分']))

# numpy np.average
print(np.average(df['数分']))

# pandas dataframe.mean()
print(df['数分'].mean())

#pandas df.median()
print(df.median())

# df.mode()
print(df.mode())
print(df)

62.85
62.85
62.85
学号    2.308024e+09
班级    2.308024e+07
英语    7.350000e+01
体育    7.400000e+01
军训    8.400000e+01
数分    6.350000e+01
高代    6.550000e+01
解几    7.100000e+01
dtype: float64
            学号          班级   姓名   性别    英语    体育    军训    数分    高代    解几
0   2308024201  23080244.0   余皓    男  76.0  50.0  84.0  61.0  47.0  71.0
1   2308024219         NaN   周怡  NaN   NaN  67.0   NaN   NaN  70.0   NaN
2   2308024241         NaN   周路  NaN   NaN  74.0   NaN   NaN   NaN   NaN
3   2308024244         NaN  姜毅涛  NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   2308024249         NaN   封印  NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   2308024251         NaN   张波  NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   2308024307         NaN   成龙  NaN   NaN   NaN   NaN   NaN   NaN   NaN
7   2308024310         NaN   朱浩  NaN   NaN   NaN   NaN   NaN   NaN   NaN
8   2308024320         NaN  李上初  NaN   NaN   NaN   NaN   NaN   NaN   NaN
9   2308024326         NaN  李侧通  NaN   NaN   NaN   NaN   NaN   NaN   NaN
10  2308024342         NaN   李华  NaN   NaN   NaN   NaN   NaN   NaN   NaN
11  2308024347         NaN   李嘉  NaN   NaN   NaN   NaN   NaN   NaN   NaN
12  2308024402         NaN  李大强  NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  2308024421         NaN  李晓亮  NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  2308024422         NaN  林建祥  NaN   NaN   NaN   NaN   NaN   NaN   NaN
15  2308024428         NaN   王慧  NaN   NaN   NaN   NaN   NaN   NaN   NaN
16  2308024432         NaN   赵宇  NaN   NaN   NaN   NaN   NaN   NaN   NaN
17  2308024433         NaN   迟培  NaN   NaN   NaN   NaN   NaN   NaN   NaN
18  2308024435         NaN   郭窦  NaN   NaN   NaN   NaN   NaN   NaN   NaN
19  2308024446         NaN   陈田  NaN   NaN   NaN   NaN   NaN   NaN   NaN
            学号        班级   姓名 性别  英语  体育  军训  数分  高代  解几
0   2308024241  23080242   成龙  男  76  78  77  40  23  60
1   2308024244  23080242   周怡  女  66  91  75  47  47  44
2   2308024251  23080242   张波  男  85  81  75  45  45  60
3   2308024249  23080242   朱浩  男  65  50  80  72  62  71
4   2308024219  23080242   封印  女  73  88  92  61  47  46
5   2308024201  23080242   迟培  男  60  50  89  71  76  71
6   2308024347  23080243   李华  女  67  61  84  61  65  78
7   2308024307  23080243   陈田  男  76  79  86  69  40  69
8   2308024326  23080243   余皓  男  66  67  85  65  61  71
9   2308024320  23080243   李嘉  女  62   0  90  60  67  77
10  2308024342  23080243  李上初  男  76  90  84  60  66  60
11  2308024310  23080243   郭窦  女  79  67  84  64  64  79
12  2308024435  23080244  姜毅涛  男  77  71   0  61  73  76
13  2308024432  23080244   赵宇  男  74  74  88  68  70  71
14  2308024446  23080244   周路  女  76  80   0  61  74  80
15  2308024421  23080244  林建祥  男  72  72  81  63  90  75
16  2308024433  23080244  李大强  男  79  76  77  78  70  70
17  2308024428  23080244  李侧通  男  64  96  91  69  60  77
18  2308024402  23080244   王慧  女  73  74  93  70  71  75
19  2308024422  23080244  李晓亮  男  85  60  85  72  72  83

In [38]:
!!!### 3.2 分组分析
'''
根据分组字段将分析对象划分成不同的部分,对比分析各组之前差异性
常用统计指标：计数、求和、平均值
常用命令
df.groupby(by=['分类1','分类2',...])['被统计列'].agg({列别名1:统计函数1，列别名2:统计函数2,...})
'''
df = pd.read_excel('sourcedata/i_nuc.xls',sheet_name='Sheet7')
df.head(20)
df.shape
df.groupby('班级')['军训','英语','体育','性别'].mean()
## groupby 会将列名称直接作为分组对象，分组中，数值列会被聚合，非数值列会从结果中排除。当by不止一个分组对象(列名)时，需要使用list，例如：
df.groupby(['班级','性别'])['军训','英语','体育'].mean()

                    军训         英语         体育
班级       性别
23080242 女   83.500000  69.500000  89.500000
         男   80.250000  71.500000  64.750000
23080243 女   86.000000  69.333333  42.666667
         男   85.000000  72.666667  78.666667
23080244 女   46.500000  74.500000  77.000000
         男   70.333333  75.166667  74.833333

In [39]:
## 当统计不止一个统计函数并用别名显示统计值的名称时，比如要计算平均值、标准差、总数等，可以使用agg()

df.groupby(by=['班级','性别'])['军训'].agg({'总分':np.sum,
                                          '均分':np.mean,
                                          '人数':np.size,
                                          '方差':np.var,
                                          '标准差':np.std,
                                          '最高分':np.max,
                                          '最低分':np.min})

/Users/mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  if __name__ == '__main__':

              总分         均分  人数           方差        标准差  最高分  最低分
班级       性别
23080242 女   167  83.500000   2   144.500000  12.020815   92   75
         男   321  80.250000   4    38.250000   6.184658   89   75
23080243 女   258  86.000000   3    12.000000   3.464102   90   84
         男   255  85.000000   3     1.000000   1.000000   86   84
23080244 女    93  46.500000   2  4324.500000  65.760931   93    0
         男   422  70.333333   6  1211.866667  34.811875   91    0

In [2]:
### 分布分析
'''
根据分析的目的，将数据（定量数据）进行等距或不等距的分组，研究各组分布规律的分析方法


'''
import pandas as pd
import numpy as np
from pandas import read_excel

df = pd.read_excel('sourcedata/i_nuc.xls',sheet_name="Sheet7")

In [23]:
df['总分']=df.英语+df.体育+df.军训+df.数分+df.高代+df.解几
df['总分'].describe()
bins = [min(df.总分)-1,400,450,max(df.总分)+1]
print(bins)
labels=['less than 400','400-450','450+']
总分分层= pd.cut(df.总分,bins,labels = labels)
总分分层.head()
df['总分分层']=总分分层

df.groupby(by=['总分分层'])['总分'].agg({
                                        '人数':np.size,
})

[353, 400, 450, 458]

/Users/mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  # This is added back by InteractiveShellApp.init_path()

               人数
总分分层
less than 400   7
400-450         9
450+            4

In [25]:
### 3.4 交叉分析
'''
交叉分析通常用于分析两个或两个以上分组变量之间的关系，以交叉表形式进行变量间关系的对比分析
一般分为定量、定量分组交叉
定量、定性分组交叉
定性、定性分组交叉

pivot_table(values,index,columns,aggfunc,fill_value)
value: 数据透视表中的值
index：数据透视表中的行
columns：数据透视表中的列
aggfunc:统计函数
fill_value NA值的统一替换
'''
from pandas import pivot_table
df.pivot_table(index=['班级','姓名'])
df.pivot_table(['军训','英语','体育','性别'],index=['班级','姓名'])

              体育  军训  英语
班级       姓名
23080242 周怡   91  75  66
         封印   88  92  73
         张波   81  75  85
         成龙   78  77  76
         朱浩   50  80  65
         迟培   50  89  60
23080243 余皓   67  85  66
         李上初  90  84  76
         李华   61  84  67
         李嘉    0  90  62
         郭窦   67  84  79
         陈田   79  86  76
23080244 周路   80   0  76
         姜毅涛  71   0  77
         李侧通  96  91  64
         李大强  76  77  79
         李晓亮  60  85  85
         林建祥  72  81  72
         王慧   74  93  73
         赵宇   74  88  74

In [29]:
df.pivot_table(values=['总分'],index=['总分分层'],columns=['性别'],aggfunc=[np.size,np.mean])

              size           mean
                总分             总分
性别               女  男           女           男
总分分层
less than 400    3  4  365.666667  375.750000
400-450          3  6  420.000000  430.333333
450+             1  3  456.000000  455.666667

In [35]:
### 3.5 结构分析
'''
分组和交叉分析基础上，计算各组成部分所占的比重，进而分析总体的内部特征的一种分析方法

'''
df
df_pt=df.pivot_table(values=['总分'],index=['班级'],columns=['性别'],aggfunc=[np.sum])
print(df_pt)
df_pt.sum(axis=1)

           sum
            总分
性别           女     男
班级
23080242   777  1562
23080243  1209  1270
23080244   827  2620

班级
23080242    2339
23080243    2479
23080244    3447
dtype: int64

In [37]:
df_pt.div(df_pt.sum(axis=1),axis=0)#按列占比

df_pt.div(df_pt.sum(axis=0),axis=1)#按行占比

               sum
                总分
性别               女         男
班级
23080242  0.276218  0.286500
23080243  0.429790  0.232942
23080244  0.293992  0.480558

In [40]:
### 3.6 相关分析
'''
判断两个变量是否有线性相关，最直观的方法是散点图，看变量之间是否符合某个变化规律
当需要同时考察多个变量间的相关关系时，可以利用散点矩阵图同时绘制各变量间的散点图

为了更加准确描述变量之间的线性相关程度，通过计算相关系数来进行相关分析
二元变量的相关分析过程汇总，常用的有Pearson相关系数、Spearman秩相关系数和判定系数。
Pearson相关系数一般用于分析两个连续变量之间的关系，要求连续变量的取值服从正态分布。
不服从正态分布的变量、分类或等级变量之间的关联性可采用Spearman秩相关系数（也称等级相关系数）

|r| 取值
(0,0.3)低度相关
(0.3,0.8)中度相关
(0.8,1)高度相关
相关分析函数：
DataFrame.corr()
Series.corr(other)

'''
df['高代'].corr(df['数分'])
df.loc[:,['军训','英语','体育','高代','解几']].corr()

          军训        英语        体育        高代        解几
军训  1.000000 -0.252970 -0.127581 -0.189283 -0.198153
英语 -0.252970  1.000000  0.375784 -0.125245  0.027452
体育 -0.127581  0.375784  1.000000 -0.286782 -0.432656
高代 -0.189283 -0.125245 -0.286782  1.000000  0.613281
解几 -0.198153  0.027452 -0.432656  0.613281  1.000000

In [52]:
### 电商数据分析
import pandas as pd
data = pd.read_excel('sourcedata/i_nuc.xls')
corrmat= data.corr()
corrmat[corrmat>0.5]

         优盘  电子表  电脑支架   插座        电池   音箱        鼠标  usb数据线  手机充电线        键盘
优盘      1.0  NaN   NaN  NaN       NaN  NaN       NaN     NaN    NaN       NaN
电子表     NaN  1.0   NaN  NaN       NaN  NaN       NaN     NaN    NaN       NaN
电脑支架    NaN  NaN   1.0  NaN       NaN  NaN       NaN     NaN    NaN       NaN
插座      NaN  NaN   NaN  1.0       NaN  NaN       NaN     NaN    NaN       NaN
电池      NaN  NaN   NaN  NaN  1.000000  NaN  0.502025     NaN    NaN  0.527844
音箱      NaN  NaN   NaN  NaN       NaN  1.0       NaN     NaN    NaN       NaN
鼠标      NaN  NaN   NaN  NaN  0.502025  NaN  1.000000     NaN    NaN  0.567332
usb数据线  NaN  NaN   NaN  NaN       NaN  NaN       NaN     1.0    NaN       NaN
手机充电线   NaN  NaN   NaN  NaN       NaN  NaN       NaN     NaN    1.0       NaN
键盘      NaN  NaN   NaN  NaN  0.527844  NaN  0.567332     NaN    NaN  1.000000